body {
  background-color: $gray;
  main {
    margin: auto;
    text-align: center;
  }
  nav {
    background-color: $darkGray;
    ul {
      list-style: none;
    }
  }
  img {
    position: absolute;
    left: 0;
  }
}
