nav {
  .nav {
    li {
      a {
        color: $red;
        &:hover {
          color: $darkGray;
          background-color: $red;
        }
        &:focus {
          color: $red;
          background-color: $darkGray;
        }
        &:active {
          color: $darkGray;
          background-color: $red;
        }
        .active {
          color: $darkGray;
          background-color: $red;
          & :target {
            color: $darkGray;
            background-color: $red;
          }
        }
      }
    }
    .active {
      color: $darkGray;
      background-color: $red;
    }
  }
  .navbar-toggle {
    border: 1px solid $transBlue;
    .icon-bar {
      background-color: $transBlue;
    }
  }
}